*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: aliceblue;
}

main {
  box-sizing: content-box;
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

section {
  margin-top: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;

  &[data-current="true"]::before {
    content: "";
    position: absolute;
    left: 0.25rem;
    right: 0.25rem;
    bottom: -0.5rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: orangered;
  }
}

button {
  border: none;
  height: 3rem;
  padding-inline: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  color: white;
  background: black;
  cursor: pointer;
}
